html, body {
    margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 25px;
	font-variant: small-caps;
	
}

body {
	box-sizing: border-box;
	background-image: linear-gradient(135deg, #9708CC 10%, #0990F1 100%);
	height: 100vh;	
	color: white;
	text-align: center;
	font-variant: small-caps;
}

/* Grid */

.conteiner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 15vh 25vh 65vh 15vh;
	grid-template-areas: "header header""article article""main aside""footer footer";
}

header {	
	grid-area: header;
}

article{
	background: rgb(100, 152, 237);
	grid-area: article;    
}

main {
	background: rgb(100, 152, 237);
	grid-area: main;
	
}

aside {
	background: rgb(100, 152, 237);
	grid-area: aside;
}

footer {	
	grid-area: footer;
}

/* fim do Grid */

/* ------------  cabeçalho ----------- */

header {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


#header_img {
    width: 50px;
    margin: 25px 0 0 20px;
}

#header_menu {
    display: flex;
    font-variant: small-caps;
	list-style:none;
	
}

#header_menu li {
    margin-top: 20px;
	text-decoration: none;

}

#header_menu li a {
    color:white;
    padding: 15px 15px;
	text-decoration: none;
}

#header_menu a:hover {
    color: black;
}

#header_pesquisa {
    background-color: #e7e7e7;
    border: solid 2px #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 28px;
    margin: 25px 20px 0 0;
    position: relative;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 0px;
    font-size: 13px;
    border: none;
    height: 20px;
    width: 65px;
    outline: none;
}

#btnBusca {
    border: none;
    float: right;
	font-size: 20px;
	color: black;
    height: 28px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background:rgb(100, 152, 237);
    outline: none;
	text-decoration: none;
	
}

/* ------------ fim cabeçalho ----------- */

/* ------------ Formulário ----------- */

form {
	display: flex;
	width: 700px;
	flex-wrap: wrap;
	margin-top: 0px;
	margin: auto;
	justify-content: center;
}
h1 {
	font-size: 40px;
	margin: 5%;
	margin-top: 2%;
}
#nome {
	
    width: 400px;
}
#cpf {
	
    width: 220px;
}	
#email{
	
    width: 400px;
} 
#dia{
	
	width: 80px;
}
#ano {
	
    width: 100px;
}
#mes {	
    width: 180px;
}
#sexo{
	width: 170px;
}
#labelCpf{
	margin-left: 25px;
}
#labelSex{
	margin-left: 180px;
}
input{
	height: 35px;
}
select {
	height: 45px;
    width: 150px;
	
	display: inline;
	font-weight: 700;
	color: #002272;
	-webkit-appearance: none;
  	appearance: none;

}
input, select {	
	font-size: 20px;   
	border-radius: 50px;
	color: #002272;
	background-color:white;
	padding: 5px 15px;
	text-align: center;
}
input:focus, select:focus {
	outline: none;
	color: #002272;	
}
select:focus {
	width: 150px;
	outline: none;
	color: #002272;
	text-align: center;
}
label{
    font-size: 18px;
}

/* ------------ fim Formulário----------- */

/* ------------ Caixa de Texto ----------- */

#divTexto{
	font: 25px;
	margin-top: 5%;
    width: 550px;
    height: 250px;
    background-color:  linear-gradient(135deg, #9708cc 10%, #0990f1 100%);
    color: white;
    text-align: start;		
   
    font: normal 18px Arial;
    border: dashed 3px white;
    border-radius: 35px;
}
p{
	padding: 15px;

	line-height: 50px;
	font-size: 20px;
}

input#button {
	height: 60px;
	width: 200px;
	border: 1px solid white;
	border-radius: 7px ;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	margin: 30px;
	background-image: linear-gradient(135deg, #9708cc 10%, #0990f1 100%);
  }

/* ------------ footer ----------- */

/*inicio footer*/

#footer {
	clear: both; 
	margin: 0 auto;
	position: relative;
	bottom: 0;
	display: flex; 
  }
  #linkedin img {
	width: 50px;
	height: 50px;
	display: flex;   
	margin: 20px;
  }
  #linkedin img:hover {
	width: 70px;
	height: 70px;
	background-image: linear-gradient(135deg, #9708cc 10%, #0990f1 100%);
  }
  
  span{
	clear: both;
	position: absolute;  
	bottom: 0;
	margin: 25px 25px 25px 40px;
	font-size: 14px;
	font-variant: small-caps;
	
  }
  span#ano {
	clear: both;
	position: absolute;  
	bottom: 0;
	margin: 2px;
	margin-left: 45%;  
  }
  /*fim footer*/
  


